# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo

# ========================
# Virtual Environment
# ========================
env/
env1/
venv/
.venv/

# ========================
# Jupyter Notebook
# ========================
.ipynb_checkpoints/

# ========================
# VS Code
# ========================
.vscode/

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db
